<div class="btn-group">
	<button type="button" class="btn btn-default" ng-click="nuevo()">Nuevo MedioPagos</button>
	<button type="button" class="btn btn-default" ng-click="cancelar()">Listar MedioPagos</button>
</div>
				
<div class="panel panel-primary" ng-hide="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de MedioPagos</div>
    <div class="panel-body">
        <table class="resultados table table-striped">
            <tr>
                				<th>
                                    idMedioPago
                                </th>				<th>
                                    descripcionTipo
                                </th>
								<th>
				                    pagos
				                </th>
				<th>
                    &nbsp;
                </th>
            </tr>
            <tr ng-repeat="row in lista">
                		<td class="row">{{row.idMedioPago}}</td>
                		<td class="row">{{row.descripcionTipo}}</td>
                
					<td class="row">{{row.pagos.nombre}}</td>              
				<td class="row">
                    <button type="button" class="btn btn-default" ng-click="editar(row)">
                        <span class="glyphicon glyphicon-pencil"></span>Editar
                    </button>
					<button type="button" class="btn btn-default" ng-click="eliminar(row)">
                        <span class="glyphicon glyphicon-remove"></span>Eliminar
                    </button>
                </td>
            </tr>
        </table>
        <br/>
    </div>
</div>

<div class="panel panel-primary" ng-show="panelEditar">
    <div class="panel-heading">Parametrizaci&oacute;n de MedioPagos</div>
    <div class="panel-body">
        <form role="form" id="formularioEditar">
            				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="idMedioPago">idMedioPago</label>
                                    <input id="idMedioPago" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.idMedioPago"
            							   placeholder="idMedioPago"/>
                                    <div ng-show="errores.idMedioPago">{{errores.idMedioPago}}</div>
                                </div>
                            </div>				<div class="row">
                                <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
                                    <label for="descripcionTipo">descripcionTipo</label>
                                    <input id="descripcionTipo" 
                                           class="form-control" 
            							   type="text"
                                           ng-model="datosFormulario.descripcionTipo"
            							   placeholder="descripcionTipo"/>
                                    <div ng-show="errores.descripcionTipo">{{errores.descripcionTipo}}</div>
                                </div>
                            </div> 
							<div class="row">
			                    <div class="form-group col-md-6" ng-class="errores.idAseg?'error':''">
			                        <label>pagos</label>
									<select id="pagos" class="form-control" 
			                            ng-model="datosFormulario.pagos"
			                            ng-options="option.nombre for option in listaPagos track by option.id">
			                    	</select>
			                        <div ng-show="errores.pagos">{{errores.pagos}}</div>
			                    </div>
			                </div>
			<div class="btn-group">
				<button type="button" class="btn btn-default" ng-click="guardar()" ng-show="nuevoRegistro">Guardar</button>
                <button type="button" class="btn btn-default" ng-click="guardar()" ng-show="!nuevoRegistro">Aceptar</button>
                <button type="button" class="btn btn-default" ng-click="cancelar()">Cancelar</button>
            </div>
        </form>
    </div>
</div>

